html, body {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #111111;
}

*, *::after, *::before{
    box-sizing: inherit;
    font-family: Roboto, sans-serif;
}

.hero, .footer, .header{
   background-color: #1F2937; 
   color: #F9FAF8;
   display: flex;
}

button, .call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 0;
    display: flex;
    border-radius: 5px;
}

button{
    padding: 8px 24px;
    flex-grow: 0;
    align-self: flex-start;
}

.call-to-action button{
    border: 3px;
    border-color: white;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 2% 10%;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937cc;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    padding: 8% 20%;
    flex-direction: column;
    align-self: stretch;
}

.author{
    color: #1f2937;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
    margin: 0;
    border: 0;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 16px;

}

.hero{
    padding: 5% 10%;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.hero-img{
    height: auto;
    width: 500px;
    min-width: 50px;
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
}

.hero-sign-up-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -10px;
}

.hero-sign-up {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    width: 40%;
    gap: 8px;
    
}

.footer {
    padding: 2%;
    justify-content: center;
}

.content{
    background-color: #F9FAF8;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext{
    opacity: .8;
    width: 150px;
    color: #1F2937;
    font-weight: 100;
}

.subtitled-images img {
    height: 150px;
    width: 150px;
    border: solid 3px;
    border-color: #3882F6;
    border-radius: 8px;
    margin: 8px;
}

.subtitled-images{
    display: flex;
    gap: 16px;
    padding: 0 10% 5% 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.subtitled-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call-to-action{
    margin: 5% 10%;
    padding: 3% 8%;
    border-radius: 10px;
    align-self: stretch;
    justify-content: space-between;
    font-size: 18px;
}

.call-to-action button{
    border: solid 2px;
    border-color: #F9FAF8;
    border-radius: 10px;
    align-self: center;

}

.call-to-action .light{
    font-weight: 100;
    font-size: 14px;
    opacity: .8;
}